#header {
    display: flex;
    height: 60px;
    background-color: #88AB5B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-between;
}

#headerLeft {
    margin-left: 10px;
    display: flex;
}

#headerRight {
    margin-right: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

#title {
    font-size: 32px;
}

#title a {
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}