body {
    display: flex;
    flex-direction: column;
    font-family: K2D, sans-serif;
    margin: 0;
}

#header {
    margin-bottom: 20px;
}

.page {
    display: flex;
}

button {
    background: #88AB5B;
    border-radius: 6px;
    padding: 0 1em;
    height: 2.3em;
    border: none;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
    background: #7d9c54;
}

.separator {
    background-color: #88AB5B;
    width: 6px;
    border-radius: 3px;
}

#temperatureInformation {
    flex-grow: 1;
    margin: 20px 40px 20px 20px;
}

#temperatureChart {
    max-width: 100%;
}

#lightInformation {
    margin: 20px 60px 20px 40px;
}

.fill {
    flex-grow: 1;
}

/* Slider - https://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #88AB5B;
}

input:focus + .slider {
    box-shadow: 0 0 1px #88AB5B;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

@media (max-width: 1240px) {
    #lightInformation {
        margin: 20px 40px 20px 40px;
    }
}

@media (max-width: 1080px) {
    #firstPage {
        flex-direction: column;
    }

    .separator {
        width: 90%;
        height: 6px;
        order: 2;
        align-self: center;
    }

    #temperatureInformation {
        order: 3;
    }
}