#lightInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}

.lightbulbIcon {
    width: 180px;
    opacity: 0.01;
}

.tachometerIcon {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tachometerIcon .tachometerScale {
    cursor: pointer;
}

.tachometerIcon .tachometerText {
    font-size: 26px;
    position: relative;
    bottom: 55px;
    color: white;
}

.tachometerIcon .tachometerPointer {
    transform-origin: 50% 50%;
    rotate: -25deg;
}

@media (max-width: 1080px) {
    #lightInformation {
        flex-direction: row;
    }

    .lightbulbIcon {
        order: 2;
    }
}

@media (max-width: 450px) {
    #lightInformation {
        flex-direction: column;
    }
}