#settingsIcon {
    width: 42px;
    height: 42px;
    transition: all .3s ease;
}

#settingsIcon:hover {
    cursor: pointer;
    transform: rotate(60deg);
}

#settingsPage {
    margin: 0 20px;
    flex-direction: column;
    gap: 10px;
}

.settingsBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.settingsBlock .errorMessages {
    color: red;
    font-size: 14px;
    font-style: italic;
}

.settingsBlock .errorMessages > * {
    display: none;
}

.settingsBlock .settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    max-width: 420px;
}

.settingsBlock input {
    flex-grow: 1;
    align-self: stretch;
}

.settingsBlock button {
    padding: 0.3em 1em;
    height: inherit;
    font-size: 16px;
}

.settingsBlock .currentValue {
    font-style: italic;
    font-size: 12px;
}

@media (max-width: 460px) {
    #settingsPage {
        gap: 30px;
    }

    #settingsPage h1 {
        margin-bottom: 0;
    }

    .settingsBlock .settings {
        flex-direction: column;
        align-items: stretch;
    }

    .settingsBlock input {
        min-height: 2.2em;
    }
}