#temperatureInformation {
    display: flex;
    flex-direction: column;
}

.temperatureHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.temperatureChartContainer {
    width: 100%;
    height: 427px;
}

.temperatureValuesBlock {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.temperatureButtonsBlock {
    display: flex;
    gap: 20px;
}

#temperatureHistorySelect {
    border-radius: 6px;
    border-color: #88AB5B;
    padding: 0 0.5em;
    height: 2.3em;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}

@media (max-width: 780px) {
    .temperatureChartContainer {
        height: 30vh;
    }
}

@media (max-width: 600px) {
    .temperatureHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}